@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}


@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/overpass-ExtraLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}



@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-LightItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}



@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}




@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}




@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}



@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'overpass';
  src: url('../fonts/OverpassHeavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/OverpassHeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}